*{
    margin: 0;
}
.postsContainer {
    flex: 9;
    display: flex;
   
    height: 100vh;
   
}
.postsWrapper {
    flex: 6;
  display: flex;
  flex-wrap: wrap;
 
    padding: 20px;
  
}
.rightbarWrapper {
    flex: 4;

    padding: 20px;
    
}