.single{
    display: flex;
    background-color: chocolate;

}
.singlewrapper{
       background-color: aqua;
    display: flex;
    flex: 9;
    flex-direction: column;
  

}.singleinfo{
    background-color: bisque;
}
.singletitle{
    background-color: red;
   text-align: center;
    margin: 5px;
}
.singledate{
    background-color: green;
   
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}
.singlecontent{
}