.blogtanitim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogtanitimwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    border: 1px solid ;
margin-bottom: 30px;
}
.tanitimphoto{
    background-image: url("https://images.pexels.com/photos/1167355/pexels-photo-1167355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.tanitimbuttonyukari {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    margin-bottom: 50px;
  }
  .tanitimbuttongit {
   border-radius: 4px;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
  }